# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.json]
indent_size = 2

[*.scss]
indent_size = 2

[*.sql]
indent_size = 2

[*.yml]
indent_size = 2

[Makefile]
indent_style = tab

[secrets/*]
insert_final_newline = false
